
<ion-content class="ion-padding login-container">
  <p class="idioma">Español(Mexico)</p>
  <div class="logo-container">
    <img src="assets/icon/Photo-Gram (1).png" alt="Instagram Logo" class="logo">
  </div>
  <ion-item class="rounded-item">
    <ion-input placeholder="Nombre de usuario, correo o celular" class="input-field"></ion-input>
  </ion-item>
  <ion-item class="rounded-item">
    <ion-input type="password" placeholder="Contraseña" class="input-field"></ion-input>
  </ion-item>
  <ion-button expand="full" color="primary" class="rounded-item">Iniciar sesión</ion-button>
  <p class="forgot-password">¿Olvidaste tu contraseña?</p><br><br><br><br><br>
  <ion-button expand="full" fill="outline" class="redondeado" class="nueva">Crear cuenta nueva</ion-button>
</ion-content>