<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" href="/feed">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" href="/create">
      <ion-icon name="add-circle-outline"></ion-icon> 
      <ion-label>Crear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover" href="/discover">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
