ion-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  ion-item {
    --padding-start: 10px;
    --inner-padding-end: 10px;
  }
  
  ion-searchbar {
    margin-bottom: 10px;
  }
  